{% extends 'base-projector.html' %}

{% load i18n %}
{% load tags %}

{% block title %}{% trans 'Topicvoting' %} – {% trans 'Category' %} – {{ block.super }}{% endblock %}

{% block content %}
    <h1>{% trans 'Category' %}: {{ category }}</h1>
{% endblock %}

{% block scrollcontent %}
    {% for topic in category.topic_set.all %}
        <p>{{ topic }} {% if topic.votes %}<strong>{{ topic.votes }} {% trans 'votes' %}</strong>{% endif %}</p>
    {% empty %}
        <p>{% trans 'No topics available.' %}</p>
    {% endfor %}
{% endblock %}
