{% extends 'base.html' %}

{% load i18n %}
{% load staticfiles %}
{% load tags %}

{% block title %}Themenwahl – Kategorie – {{ block.super }}{% endblock %}

{% block content %}
    <h1>Kategorie</h1>
    <form action="" method="post">{% csrf_token %}
        {% include 'form.html' %}
        <p>
            {% include 'formbuttons_saveapply.html' %}
            <a href="{% url 'topicvoting_category_list' %}" class="btn">
                {% trans 'Cancel' %}
            </a>
        </p>
        <small>* {% trans "required" %}</small>
    </form>
{% endblock %}
