{% extends 'base.html' %}

{% load staticfiles %}
{% load tags %}

{% block title %}Themenwahl – {{ block.super }}{% endblock %}

{% block content %}
    <h1>Themenwahl
        <small class="pull-right">
        <div class="btn-toolbar">
            <a href="{% url 'topicvoting_category_create' %}" class="btn btn-mini btn-primary" rel="tooltip" data-original-title="Neue Kategorie"><i class="icon-plus icon-white"></i> Neue Kategorie</a>
            <a href="{% url 'topicvoting_topic_create' %}" class="btn btn-mini btn-primary" rel="tooltip" data-original-title="Neues Thema"><i class="icon-plus icon-white"></i> Neues Thema</a>
            <a href="{% url 'topicvoting_ballotpaper' %}" class="btn btn-mini" rel="tooltip" data-original-title="Wahlzettel"><i class="icon-print"></i> Wahlzettel</a>
            <a href="{% url 'topicvoting_result' %}" class="btn btn-mini" rel="tooltip" data-original-title="Ergebnisse"><i class="icon-assignment"></i> Ergebnisse</a>
        </div>
        </small>
    </h1>
    {% for category in category_list %}
        <h2>
            {{ category }}{% if category.sum_of_votes %} – {{ category.sum_of_votes }} Stimmen{% endif %}
            <a href="{% model_url category 'update' %}" class="btn btn-mini" title="Bearbeiten"><i class="icon-pencil"></i></a>
            <a href="{% model_url category 'delete' %}" class="btn btn-mini" title="Löschen"><i class="icon-remove"></i></a>
        </h2>
        <ul>
        {% for topic in category.topic_set.all %}
            <li>
                {% if topic.votes %}<strong>{{ topic.votes }} Stimmen: </strong>{% endif %}{{ topic }}
                <a href="{% model_url topic 'update' %}" class="btn btn-mini" title="Bearbeiten"><i class="icon-pencil"></i></a>
                <a href="{% model_url topic 'delete' %}" class="btn btn-mini" title="Löschen"><i class="icon-remove"></i></a>
            </li>
        {% empty %}
            <li>Keine Themen zugeordnet</li>
        {% endfor %}
        </ul>
    {% endfor %}
    {% if lost_topics %}
        <h2>Verlorene Themen</h2>
        <ul>
        {% for topic in lost_topics %}
            <li>
                {% if topic.votes %}<strong>{{ topic.votes }} Stimmen: </strong>{% endif %}{{ topic }}
                <a href="{% model_url topic 'update' %}" class="btn btn-mini" title="Bearbeiten"><i class="icon-pencil"></i></a>
                <a href="{% model_url topic 'delete' %}" class="btn btn-mini" title="Löschen"><i class="icon-remove"></i></a>
            </li>
        {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
