{% extends 'base.html' %}

{% load i18n %}
{% load staticfiles %}
{% load tags %}

{% block title %}{% trans 'Topicvoting' %} – {{ block.super }}{% endblock %}

{% block content %}
    <h1>{% trans 'Topicvoting' %}
        <small class="pull-right">
            <a href="{% url 'topicvoting_category_create' %}" class="btn btn-mini btn-primary" rel="tooltip" data-original-title="{% trans 'New Category' %}"><i class="icon-plus icon-white"></i> {% trans 'New Category' %}</a>
            <a href="{% url 'topicvoting_topic_create' %}" class="btn btn-mini btn-primary" rel="tooltip" data-original-title="{% trans 'New Topic' %}"><i class="icon-plus icon-white"></i> {% trans 'New Topic' %}</a>
            <a href="{% url 'topicvoting_ballotpaper' %}" class="btn btn-mini" rel="tooltip" data-original-title="{% trans 'Ballot paper' %}"><i class="icon-print"></i> {% trans 'Ballot paper' %}</a>
            <a href="{% url 'topicvoting_result' %}" class="btn btn-mini" rel="tooltip" data-original-title="{% trans 'Results' %}"><i class="icon-assignment"></i> {% trans 'Results' %}</a>
        </small>
    </h1>
    {% for category in category_list %}
        <h2>
            {{ category }}{% if category.sum_of_votes %} – {{ category.sum_of_votes }} {% trans 'votes' %}{% endif %}
            <a href="{% model_url category 'update' %}" class="btn btn-mini" title="{% trans 'Edit' %}"><i class="icon-pencil"></i></a>
            <a href="{% model_url category 'delete' %}" class="btn btn-mini" title="{% trans 'Delete' %}"><i class="icon-remove"></i></a>
        </h2>
        <ul>
        {% for topic in category.topic_set.all %}
            <li>
                {% if topic.votes %}<strong>{{ topic.votes }} {% trans 'votes' %}: </strong>{% endif %}{{ topic }}
                <a href="{% model_url topic 'update' %}" class="btn btn-mini" title="{% trans 'Edit' %}"><i class="icon-pencil"></i></a>
                <a href="{% model_url topic 'delete' %}" class="btn btn-mini" title="{% trans 'Delete' %}"><i class="icon-remove"></i></a>
            </li>
        {% empty %}
            <li>{% trans 'No topics available.' %}</li>
        {% endfor %}
        </ul>
    {% endfor %}
    {% if lost_topics %}
        <h2>{% trans 'Lost topics' %}</h2>
        <ul>
        {% for topic in lost_topics %}
            <li>
                {% if topic.votes %}<strong>{{ topic.votes }} {% trans 'votes' %}: </strong>{% endif %}{{ topic }}
                <a href="{% model_url topic 'update' %}" class="btn btn-mini" title="{% trans 'Edit' %}"><i class="icon-pencil"></i></a>
                <a href="{% model_url topic 'delete' %}" class="btn btn-mini" title="{% trans 'Delete' %}"><i class="icon-remove"></i></a>
            </li>
        {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
