{% extends 'base.html' %}

{% load i18n %}
{% load staticfiles %}
{% load tags %}

{% block title %}{{ block.super }} – Themenwahl – Kategorie{% endblock %}

{% block content %}
    <h1>Kategorie</h1>
    <form action="" method="post">{% csrf_token %}
        {{ form.as_p }}
        <p>
        <button class="button" type="submit">
            <span class="icon ok">{% trans 'Save' %}</span>
        </button>
        <button class="button" type="submit" name="apply">
            <span class="icon apply">{% trans 'Apply' %}</span>
        </button>
        <a href='{% url "topic_voting_category_list" %}'>
        <button class="button" type="button">
            <span class="icon cancel">{% trans 'Cancel' %}</span>
        </button>
        </a>
        </p>
        <small>* {% trans "required" %}</small>
    </form>
{% endblock %}
